body {
    background-color: grey;
    font-family: Georgia, Arial;
}

h1 {
    text-align: center;
    color: red;
    font-size: 40px;
}

h2 {
    text-align: center;
    color: green;
}

p {
    text-align: center;
}